.chat-btn {
  position: fixed;
  right: 14px;
  bottom: 20px;
  cursor: pointer;
  z-index: 2;
  background-color: blue;
  border-radius: 40px;
  width: 40px;
  height: 40px;
  color: aliceblue;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-btn .close {
  display: none;
}

#checkbox:checked ~ .chat-btn i {
  display: block;
}

#checkbox:checked ~ .chat-btn .comment {
  display: none;
}

#checkbox {
  display: none;
}

#checkbox:checked ~ .chat-wrapper {
  opacity: 1;
  z-index: 2;
}

.chat-wrapper {
  opacity: 0;
  position: fixed;
  right: 20px;
  bottom: 70px;
  z-index: -1;
  width: 300px;
  transition: all 0.4s;
  background-color: #fff;

}

.chat-header {
  background-color: blue;
  padding: 13px;
  margin-bottom: 10px;
  border-radius: 5px 5px 0px 0px;
  color: #fff;
}

.chat-form {
  padding: 15px;
}

.chat-form input,
.chat-form textarea,
.chat-form button {
  margin-bottom: 10px;
}

.chat-form textarea {
  resize: none;
}

.form-control:focus,
.btn:focus {
  box-shadow: none;
}

.cht-msg {
  max-height: 300px;
  overflow: auto;
}